.card-container {
    height: 200px;
    position: relative;
    perspective: 1000px;
    width: 49%;
    display: inline-block;
    vertical-align: top
}

.cover,
.black {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    transform: rotateY(0deg);
}

.card-container:hover .cover {
    transform: rotateY(180deg);
}

.black {
    transform: rotateY(-180deg);
    background-color: #e7c6c6;
}

.card-container:hover .black {
    transform: rotateY(0deg);
}